.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; position: relative}
.u-section-1 .u-layout-cell-1 {min-height: 400px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {width: 183px; height: 181px; margin: 26px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: 3px auto 0 29px}
.u-section-1 .u-layout-cell-2 {min-height: 400px; background-image: none; animation-duration: 1000ms}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-2 {font-weight: 700; margin: 5px 0 0}
.u-section-1 .u-custom-html-1 {min-height: 257px; height: auto; margin: -110px 73px 0 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 430px}
.u-section-1 .u-layout-cell-1 {min-height: 330px}
.u-section-1 .u-text-1 {margin-left: 23px}
.u-section-1 .u-layout-cell-2 {min-height: 330px}
.u-section-1 .u-custom-html-1 {margin-right: 3px; margin-left: 0; width: 401px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 353px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {margin-left: 17px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-custom-html-1 {margin-right: 0; width: 300px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 860px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-left: 29px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 578px}
.u-section-1 .u-text-1 {margin-left: 18px} }